/* FONTS */
/* alata-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/alata-v12-latin/alata-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/josefin-sans-v34-latin/josefin-sans-v34-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* CUSTOM PROPERTIES */
:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-grey: hsl(0, 0%, 68%);

  --ff-primary: 'Alata';
  --ff-secondary: 'Josefin Sans';
}

/* RESET STYLES */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements 
with a list role, which suggests default 
styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  /* height: 100%; */
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-grey);
  /* padding: 1rem 3rem; */
  /* background-color: var(--clr-black); */
}

h1, h2, h3 {
  text-transform: uppercase;
  line-height: 1;
  color: var(--clr-black);
  font-family: var(--ff-secondary);
}

h1 {
  font-size: 2rem;
  font-size: clamp(2rem, -0.6666666666666665rem + 13.333333333333334vw, 2.5rem);
}

h2 {
  font-size: 1.975rem;
}

h3 {
  font-size: 1.4rem;
}

@media (min-width: 50em) {
  h2 {
    font-size: 2.4rem;
  }
}

/* LINKS */
.link {
  color: var(--clr-white);
  text-decoration: none;
  display: inline-block;
}

.link:hover {
  position: relative;
}

.link:hover::after {
  content: '';
  position: absolute;
  height: 2px;
  border-radius: 1px;
  width: 40%;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  background-color: var(--clr-white);
}

.link--full-underline:hover::after {
  width: 100%;
}

/* BUTTONS */
.btn {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: .2em 2em;
  outline: 0;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-black);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.btn:hover, .btn:focus-visible {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

/* HEADER SECTION */
.header {
  padding: 3rem 0;
  position: relative;
  z-index: 1;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.4rem;
}

.nav-toggler {
  display: none;

  width: 2rem;
  aspect-ratio: 1 / 1;
  border: 0;
  background-image: url(/assets/images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.links {
  display: flex;
  gap: 0.8rem;
  gap: clamp(0.8rem, -0.19999999999999996rem + 3.2vw, 2rem);
}

@media (max-width: 37.5em) {
  body.no-scroll {
    max-height: 100vh;
    overflow: hidden;
  }

  .header__nav {
    display: none;
  }

  .header__nav.expanded {
    display: revert;

    background-color: var(--clr-black);
    position: fixed;
    inset: 0;
    z-index: -1;
  }

  .links--header {
    display: grid;
    gap: 1.2rem;
    margin-top: 10rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: var(--ff-secondary);
    padding: 1rem; 
  }

  .nav-toggler {
    display: revert;
  }

  .nav-toggler.show-close {
    background-image: url(/assets/images/icon-close.svg);
    width: 1.5rem;
  }
}

/* HERO SECTION */
.hero {
  padding: 8rem 0 11rem;
}

.hero__title {
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
  padding: 1.5rem;
  max-width: 22.5rem;
}

.hero::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  padding: 19rem 0;
  z-index: -2;
  background-image: url(/assets/images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 37.5em) {
  .hero {
    padding: 2rem 0 6rem;
  }

  .hero::before {
    background-image: url(/assets/images/desktop/image-hero.jpg);
    padding: 14rem 0;
  }

  .hero__title {
    font-size: 3rem;
    max-width: 17ch;
  } 
}

/* SHOWCASE SECTION */
.showcase {
  padding: 4rem 0 5rem;
  text-align: center;
  /* outline: 2px solid red; */
}

.showcase__wrapper {
  display: grid;
  gap: 2rem;
}

.showcase__image img {
  margin: 0 auto;
}

.showcase__content {
  background-color: var(--clr-white);
}

@media (min-width: 60em) {
  .showcase__wrapper {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 6rem auto;
    align-items: end;
    gap: revert;
  }

  .showcase__image {
    grid-column: 1 / span 5;
    grid-row: 1 / span 2;
  }

  .showcase__content {
    grid-column: 5 / -1;
    grid-row: 2 / -1;
    padding: 5rem 0 0 5rem;
    text-align: left;
  }
}

/* CREATIONS SECTION */
.creations {
  outline: 2px solid red;
  text-align: center;
}

.creations__wrapper {
  display: grid;
  gap: 2rem;
}

.creations__title {
  align-self: center;
}

.creations-list {
  display: grid;
  gap: 1rem;
}

.creation {
  display: grid;
  /* border: 1px solid black; */
  position: relative;
  cursor: pointer;
}

.creation::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, .2);
}

.creation img {
  width: 100%;
  aspect-ratio: 1 / 0.36;
  object-fit: cover;
  object-position: center;
}

.creation__image,
.creation__title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.creation__title {
  color: var(--clr-white);
  z-index: 1;
  text-align: left;
  align-self: end;
  max-width: 10ch;
  margin: 0 0 1rem 1rem;
}

.creation:hover img {
  opacity: .35;
}

.creation:hover .creation__title {
  color: var(--clr-black);
}

.creation:hover::before {
  display: none;
}

.creations__btn {
  justify-self: center;
}

@media (min-width: 25em) {
  .creations-list {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

  .creation img {
    aspect-ratio: auto;
  }
}

@media (min-width: 38.75em) {
  .creations__wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .creations__btn {
    grid-row: 1/2;
    grid-column: 2 / -1;
    justify-self: end;
    align-self: center;
  }

  .creations-list {
    grid-column: 1 / -1;
  }
}

/* FOOTER SECTION */
.footer {
  margin-top: 5rem;
}

/* UTILITY CLASSES */
.wrapper {
  width: min(calc(100% - 3rem), 68.75rem); /*1100px*/
  margin: 0 auto;
}

.flow > * + * {
  margin-top: 1rem;
}
